{% extends "meta.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css" >

{% endblock head %}



{% block header %}

<div style="padding-top: 4rem; padding-bottom: 4rem;"class="jumbotron">
    <div class="container">
        <img style="max-height: 16em; max-width: 100%;" src="{% get_static_prefix %}fidem.png"/>
    </div>
</div>

{% endblock header %}



{% block content %}

<!-- Main content displayed here -->

{% endblock content %}



{% block footer %}

<hr>

<p><strong>Déjà inscrit?</strong> Vous pouvez modifier votre inscription grâce à l'email qui vous a été envoyé.</p>

<p>En cas de problème, contactez antonin.grele@gmail.com</p>

{% endblock footer %}