{% extends "base.html" %}


{% block head %}{{ block.super }}

<title>Fibre Démocrate</title>

{% endblock head %}



{% block content %}

{{ block.super }}

<h1>Merci pour votre inscription !</h1>

<p>Suivez-nous sur <a href="https://www.facebook.com/pages/Fibre-Démocrate/686852774744550" target="_blank">Facebook</a> et <a href="https://twitter.com/FibreDemocrate" target="_blank">Twitter</a> !</p>

<p>Cliquez <a href="/">ici</a> pour inscrire une nouvelle personne.</p>

<p><a href="http://fibre-democrate.com/">Retour au site Fibre Démocrate</a></p>

{% endblock content %}