{% extends "base.html" %}


{% block head %}{{ block.super }}

<title>Fibre Démocrate</title>

<style>
form p {
	display: inline-block;
	width: 100%;
	margin-bottom: 1.5em;
}
form p:last-child { margin-bottom: 0; }

label,
textarea,
#id_département,
.helptext,
.submit,
input[type="number"],
input[type="email"],
input[type="text"],
input[type="file"],
input[type="url"] { width: 100%; }

.submit { margin-top: 2em; }

.helptext { display: block; font-size: 0.8em; }

input[type="checkbox"] { display: none; }

label { display: block; }

label[for="photo-clear_id"] { display: none; }
label[for="document-clear_id"] { display: none; }

input[type="file"] { display: inline-block; }

@media (min-width: 600px) {

	form {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		-webkit-column-gap: 6em; /* Chrome, Safari, Opera */
		-moz-column-gap: 6em; /* Firefox */
		column-gap: 6em;
	}

	.submit { margin-right: 20%; }

	

}

@media (min-width: 900px) {

	form {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
	}
}

.errorlist {
	padding-left: 0;
	color: red;
	font-weight: bold;
	font-size: .8em;
	margin-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

</style>

{% endblock head %}



{% block content %}

{{ block.super }}

<h1>Votre inscription à notre liste :</h1><br>

<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<input class="btn btn-success submit" type="submit" name="submit" value="Enregistrer" />
</form>

{% endblock content %}